<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head">
    <meta charset="UTF-8">
    <title>分类新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
</head>
<body>
<!--首页-->
<nav class="ui inverted attached segment m-padded-tb-mini" th:replace="admin/_fragments :: menu">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <a href="../index.html" class="item"><h1 class="ui teal header item">控制台</h1></a>
            <a href="../index.html" class="item m-item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="../types.html" class="item m-item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <div class="right menu">
                <div class="ui inverted compact menu">
                    <div class="ui simple dropdown item">
                        <img class="ui avatar image" src="https://unsplash.it/800/450?image=1005">
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="teal active item" th:href="@{/admin/types/input}">增加</a>
            <a href="#" class="teal item" th:href="@{/admin/types}">列表</a>
        </div>
    </div>
</div>

<!--中间-->
<div class="m-padded-tb-large">
    <div class="ui container">
        <form action="#" method="post" class="ui segment form" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})} " th:object="${type}">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <input type="text" name="name" placeholder="分类名" th:value="*{name}">
            </div>
            <div class="ui error message"></div>
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">提交</button>
            </div>

        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<!--底部-->
</body>
<th:block th:replace="admin/_fragments :: script">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js"></script>
</th:block>
<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.form').form({
        fields : {
            title : {
                identifier: 'name',
                rules: [{
                    type : 'empty',
                    prompt: '请输入分类名'
                }]
            }
        }
    });

</script>
</html>