<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!--首页-->
    <nav class="ui inverted attached segment m-padded-tb-mini" th:replace="_fragments :: menu">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <a href="./index.html" class="item"><h1 class="ui teal header item">Blog</h1></a>
                <a href="./index.html" class="item m-item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="./types.html" class="item m-item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="./archives.html" class="item m-item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="./about.html" class="item m-item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间-->
    <div class="m-padded-tb-large">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <!--header-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                               <h3 class="ui teal header">博客</h3>
                            </div>
                            <div class="right aligned column">
                                共<h2 class="ui red header m-inline-block" th:text="${page.totalElements}">14</h2>篇
                            </div>
                        </div>
                    </div>
                    <!--content-->
                    <div class="ui attached segment">
                        <div class="ui segment" th:each="blog : ${page.content}">
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header"><a href="#" class="m-black" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"></a></h3>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">admin</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--footer-->
                    <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--侧边栏-->
                <div class="five wide column">
                    <!--分类-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item" th:each="type : ${types}">
                                    <span th:text="${type.name}"></span>
                                    <div class="ui teal label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    <!--底部-->
</body>
<th:block th:replace="_fragments :: script">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
</th:block>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</html>